<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Feb 17 HW</title>
  <link href='http://fonts.googleapis.com/css?family=Philosopher:400,700|Righteous' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/main.css">
  <script type="text/template" id="filmTmpl">

    <h2><%= title %></h2>
    <img src='<%= image %>'>
    <p class="ptext"><%= synopsis %></p>
    <h4><%= date %></h4>

    <form id="update-film" action="">
        <p>
          <input type="text" name="editTitle" value="<%= title %>" placeholder="Title">
        </p>
        <p>
          <input type="text" name="editImage" value="<%= image %>" placeholder="Image Url">
        </p>
        <p>
          <textarea type="text" name="editSynopsis"  value="<%= synopsis %>" placeholder="Content"><%= synopsis %></textarea>
        </p>
        <p>
          <input type="text" name="editDate" value="<%= date %>" placeholder="Image Url">
        </p>
    </form>

    <button class="delete-film">Delete Film</button>
    <button class="edit-film">Edit Film</button>
    <button class="submit-edit">Submit Edit</button>
</script>
</head>
<body>
  <header>
    <h1>Cinema</h1>
  </header>

  <section>
<!--     <article>
  <h2>Chef</h2>
  <img src="http://www.movieposter.com/posters/archive/main/188/MPW-94080" alt="">
  <p>A chef who loses his restaurant job starts up a food truck in an effort to reclaim his creative promise, while piecing back together his estranged family.</p>
  <h4>May 8, 2014</h4>
</article> -->

      <form action="" id="create-film">
        <h2>Add New Film</h2>
        <p>
          <label for="title">Film Title</label>
          <input type="text" name="newTitle" placeholder="Title of Film">
        </p>
        <p>
          <label for="image">Poster</label>
          <input type="text" name="newImage" placeholder="Film Poster URL">
        </p>
        <p>
          <label for="synopsis">Synopsis</label>
          <textarea id="synopsis" cols="30" rows="10" name="newSynopsis" placeholder="Film Synopsis"></textarea>
        </p>
        <p>
          <label for="date">Release Date</label>
          <input type="text" name="newDate" placeholder="Month Day, Year">
        </p>
        <p>
          <h4><button type="submit">Submit Film</button></h4>
        </p>
      </form>
  </section>



<script src="../node_modules/jquery/dist/jquery.js"></script>
<script src="../node_modules/underscore/underscore.js"></script>
<script src="../node_modules/backbone/backbone.js"></script>

<!-- app files -->
<script src="js/model.js"></script>
<script src="js/collection.js"></script>
<script src="js/view.js"></script>
<script src="js/main.js"></script>
</body>
</html>
